/* latin */
@font-face {
  font-family: 'Knewave';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Knewave-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --size: 15em;
}
.apple-game {
  width: var(--size);
  height: var(--size);
  background-color: #1feaff;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
}
.apple-game .tree {
  width: 100%;
  position: absolute;
  bottom: -5%;
}
.apple-game .basket {
  position: absolute;
  width: 20%;
  bottom: -2%;
  left: 10%;
  transform: translate(-50%, 0);
  transition: left 0.2s;
}
.apple-game .apple {
  position: absolute;
  width: 10%;
  transform: translate(-50%, 0);
  transition: bottom 0.2s, width 0.5s;
}
.apple-game .apple svg {
  width: 100% !important;
  height: 100% !important;
}
.apple-game .apple.big {
  width: 15%;
}
.apple-game .apple.consumed {
  width: 0%;
}
.apple-game .combo {
  position: absolute;
  left: 40%;
  top: 10%;
  transform: translate(-50%, -50%) rotate(-10deg);
  font-size: 1.5em;
  font-family: "Knewave";

  color: #faa60a;
  -webkit-text-stroke:2px #AB2158;

  text-shadow: 0.1em 0.1em 0.25em black;
  transition: font-size 1s;
}
.apple-game .multiplier {
  position: absolute;
  right: 5%;
  top: 7%;
  transform: translate(0, -50%) rotate(-10deg);
  font-size: 1.25em;
  font-family: "Knewave";

  color: #0daaf7;
  -webkit-text-stroke:1px #2123AB;

  text-shadow: 0.1em 0.1em 0.25em black;
  transition: font-size 1s;
}
.apple-game .combo.big,
.apple-game .multiplier.big {
  transition: none;
  font-size: 2.25em;
}
